<?xml version="1.0"?>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="AppTheme" value="PHM"/>
  <add key="SiteMapProvider" value="Integra"/>
  <add key="AuthenticationType" value="RolodexAndStandard" />
  <add key="DomainPrompt" value="Client ID:" />
  <add key="LogLevel" value="WARN" />
  <add key="PortalTitle" value="UAT Plaza Portal 01" />
  <add key="CustomFolderLocation" value="Custom/PHM/BrokerPortal" />
  <add key="MaxOpenLoans" value="1" />
  <add key="OpenFileInWebDialog" value="false" />
  <add key="LoginSecurity" value="low" />
  <add key="CookieExpiry" value="365" />
  <add key="CookieDomain" value="" />
  <add key="ShowExceptionInBrowser" value="False" />
  <add key="HomePage" value="Custom/PHM/BrokerPortal/Account/Login.aspx"/>
  <add key="loginUrl" value="Custom/PHM/brokerportal/Account/Login.aspx" />
  <add key="EpicWebServiceUrl" value="http://localhost/EpicAppService/Service1.asmx" />
  <add key="DateFormat" value="MM/dd/yyyy" />
  <add key="DateMask" value="99/99/9999" />
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="RoundedCorner" value="false"/>
  <add key="ShowTaskPane" value="true"/>
  <!--start settings for Update Manger-->
  <add key="PackageSource" value="http://epicupdate.integra-online.com/uat/nuget"/>
  <add key="ApplicationID" value="PHMBrokerPortal"/>
  <!--end settings for Update Manger-->
  <!--start settings for XDOCS-->
  <add key="XDOCURL" value="http://phm-los-uxdoc01/"/>
  <add key="XDOCUploadsite" value="http://dev.plazahomemortgage.com/" />
  <!--end settings for XDOCS-->
  

</appSettings>
